@charset "UTF-8";
#father {
  width: 985px;
  color: #666666;
  font-weight: bold;
  :nth-child(1) {
        font-size: 14px;
        color: #666;
        margin: 16px 0 15px 0;
  }
  :nth-child(2) {
    font-size: 14px;
        color: #666;
  }
  :nth-child(3) {
    margin-top: 20px;
    margin-left: 25px;
  }
  :nth-child(4) {
         font-size: 14px;
        color: #666;
        margin-top: 16px;

  }
  :nth-child(5) {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 17px;
  }
}