企业介绍
.top_write{
        line-height: 24px;
        text-indent: 2em;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 15px;
}
.text_center{
       padding: 20px 20px 0 20px;
        text-align: left;
}
.text_left{
        float: left;
        width: 484px;
}
.text_left_fi{
        line-height: 24px;
    text-indent: 2em;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.text_left_two{
        line-height: 24px;
    text-indent: 2em;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.text_right{
    float: right;
    width: 240px;
    height: 240px;
    img{
            border: none 0;
             vertical-align: top;
    }
}
.jv_ko{
    color: #7E7E7E;
    font-size: 14px;
}
